# While Loop

**WAP to print following output.**

In [ ]:
1/1  2/4  3/9  4/16  5/25  6/36  7/49  8/64  9/81  10/100

In [2]:
i = j = 1
while i <= 10:
  print(f"{i}/{j}", end = "  ")
  i += 1
  j = i*i

1/1  2/4  3/9  4/16  5/25  6/36  7/49  8/64  9/81  10/100

In [ ]:
55555
4444
333
22
1

In [17]:
i = j = 5
while i > 0:
  while j > 0:
    print(i, end = "")
    j -= 1
  print()
  i -= 1
  j = i

55555
4444
333
22
1

In [ ]:
54321
5432
543
54
5

In [23]:
i = j = 5
while i > 0:
  while j > 5 - i:
    print(j, end = "")
    j -= 1
  print()
  i -= 1
  j = 5

54321
5432
543
54
5

In [ ]:
12345
1234
123
12
1

In [29]:
i = 5
j = 1
while i > 0:
  while j <= i:
    print(j, end = "")
    j += 1
  print()
  i -= 1
  j = 1

12345
1234
123
12
1

In [ ]:
1
23
456
78910

In [53]:
n = 1
for i in range (1, 5, 1):
  for j in range (1, i + 1, 1):
    print(n, end = '')
    n += 1
  print()

1
23
456
78910

In [ ]:
    *
   **
  ***
 ****
*****

In [59]:
for i in range (1, 5 + 1, 1):
  for j in range (1, 5-i+1, 1):
    print(" ", end = "")
  for k in range (1, i+1, 1):
    print("*", end = "")
  print()

    *
   **
  ***
 ****
*****

In [ ]:
    *
   ***
  *****
 *******
*********

In [64]:
for i in range (1, 5 + 1, 1):
  for j in range (1, 5-i+1, 1):
    print(" ", end = "")
  for k in range (1, 2*i, 1):
    print("*", end = "")
  print()

    *
   ***
  *****
 *******
*********

In [ ]:
    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [77]:
for i in range (1, 5 + 1, 1):
  for j in range (1, 5-i+1, 1):
    print(" ", end = "")
  for k in range (1, 2*i, 1):
    print("*", end = "")
  print()
for i in range (4, 0, -1):
  for j in range (5-i+1, 1, -1):
    print(" ", end = "")
  for k in range (2*i, 1, -1):
    print("*", end = "")
  print()

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *